/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
.wrapper {
	min-height: 100%;
	background: rgb(0, 0, 0);
}

.title {
	font-size: 72px;
	font-family: "Alegreya SC", serif;
	color: #fbeed5;
	font-weight: 800;
}

.subtitle {
	font-size: 40px;
	font-family: "Alegreya SC", serif;
	color: #fbeed5;
	font-weight: 800;
}

.text {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	line-height: 209%;
}

.btn {
	background: #fef3dd;
	border-radius: 22px;
	filter: drop-shadow(0px 0px 16px #ff6666);
	font-weight: 800;
	font-size: 34px;
	line-height: 71.5%;
	/* or 24px */
	color: #ff6666;
	padding: 18px 33px 18px 33px;
	transition: color 3s ease-in;
}

.btn:hover {
	background-color: #f6cf90; /* Green */
	color: white;
}

.offer {
	max-width: 1079px;
	margin: 0 auto;
	padding: 120px 0px 80px 0px;
	display: flex;
	justify-content: space-between;
}

.about {
	max-width: 1079px;
	margin: 0 auto;
	padding: 100px 0px 0px 0px;
}

.about__title {
}

.about__text {
	max-width: 50%;
	margin-top: 10px;
}

.image-about {
	display: flex;
	max-height: 450px;
	justify-content: flex-end;
}

.rules {
	max-width: 1079px;
	margin: 0 auto;
	margin-top: 20px;
}

.rules__text {
	margin-top: 10px;
}

.game {
	max-width: 1079px;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 100px;
	text-align: center;
}

table {
	padding-top: 30px;
	margin: 0 auto;
}

td {
	background: #7c4e00;
	width: 80px;
	height: 80px;
	text-align: center;
}

.nothingHere {
	background: #fbeed5;
}

.white {
	width: 60px;
	height: 60px;
	text-align: center;
	background: rgb(241, 241, 241);
	border: 2px solid #fdd37d;
	border-radius: 50%;
	margin: 0 auto;
}

.black {
	width: 60px;
	height: 60px;
	padding: 10px;
	background: rgb(0, 0, 0);
	border: 2px solid #797979;
	border-radius: 50%;
	margin: 0 auto;
}

.white.king {
	background: rgb(255, 243, 134);
}

.black.king {
	background: rgb(39, 3, 87);
}

.turn {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.white-turn {
	padding-right: 20px;
	font-family: "Alegreya SC", serif;
	text-decoration: underline;
	color: #fbeed5;
	font-weight: 800;
	font-size: 22px;
	transition: color 3s ease-in;
}

.black-turn {
	color: rgb(82, 82, 82);
	padding-left: 20px;
	font-family: "Alegreya SC", serif;
	font-weight: 800;
	font-size: 22px;
	transition: color 3s ease-in;
}
